polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.systemd1.manage-units" &&
        action.lookup("unit") == "suspend-then-poweroff.service" &&
        subject.user == "trev") {
        return polkit.Result.YES;
    }
});
